.recommand{
    justify-content: center;
    margin-left: 170px;
    padding-top: 50px;
    border-radius: 15px;
    font-size:larger;


}

input{
    width: 500px;
    margin:10px 10px 10px 10px;
    margin-bottom: 30px;
    padding:15px;
    color: black;
    font-size: 25px;
}

.button{
    margin-left: 10px;
    padding:10px;
    color:red;
    background-color: white;


}
.button:hover{
    background-color: aqua;
}